{% extends 'generator/layout.html' %}
{% block content %}
    <h1>About desde plantilla</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis fugit eligendi fuga culpa sapiente, totam asperiores magnam repudiandae maiores ut tempora odit itaque neque nulla, assumenda perferendis reprehenderit deleniti. Quisquam.</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis fugit eligendi fuga culpa sapiente, totam asperiores magnam repudiandae maiores ut tempora odit itaque neque nulla, assumenda perferendis reprehenderit deleniti. Quisquam.</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis fugit eligendi fuga culpa sapiente, totam asperiores magnam repudiandae maiores ut tempora odit itaque neque nulla, assumenda perferendis reprehenderit deleniti. Quisquam.</p>
{% endblock %}
