<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="/password_generator/generator/static/style.css">
    <title>About</title>
</head>
<body>
    <h1>About desde plantilla</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis fugit eligendi fuga culpa sapiente, totam asperiores magnam repudiandae maiores ut tempora odit itaque neque nulla, assumenda perferendis reprehenderit deleniti. Quisquam.</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis fugit eligendi fuga culpa sapiente, totam asperiores magnam repudiandae maiores ut tempora odit itaque neque nulla, assumenda perferendis reprehenderit deleniti. Quisquam.</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis fugit eligendi fuga culpa sapiente, totam asperiores magnam repudiandae maiores ut tempora odit itaque neque nulla, assumenda perferendis reprehenderit deleniti. Quisquam.</p>
</body>
</html>