{% extends 'generator/layout.html'%}

{% block content %}
    <h1>Bienvenido</h1>
    <div class="col-md-4 offset-md-4">
        <form action="{% url 'password' %}" method="get" class="card card-body p-5">
            
            <h1 class="h2">Generador de password</h1>
            <label for="length">Selecciona la longitud de tu contraseña</label>
            <select name="length" id="length" class="form-control">
                <option value="6">6 Caracteres</option>
                <option value="7">7 Caracteres</option>
                <option value="8">8 Caracteres</option>
                <option value="9">9 Caracteres</option>
                <option value="10">10 Caracteres</option>
                <option value="11">11 Caracteres</option>
                <option value="12">12 Caracteres</option>
                <option value="13">13 Caracteres</option>
                <option value="14">14 Caracteres</option>
            </select>
            <div class="form-check form-switch">
                <label for="uppercase" class="form-check-label" role="switch">Mayusculas</label>
                <input type="checkbox" name="uppercase" id"uppercase" class="form-check-input" >
            </div>
            <div class="form-check form-switch">
                <label for="special" class="form-check-label" role="switch">Especial</label>
                <input type="checkbox" name="special" id"special" class="form-check-input">
            </div>
            <div class="form-check form-switch">
                <label for="numeros" class="form-check-label" role="switch">Numeros</label>
                <input type="checkbox" name="numeros" id"numeros" class="form-check-input">
            </div>
                

                <button class="btn btn-primary" type="submit">Generar contraseña</button>
            
        </form>
    </div>
{% endblock%}