{% extends 'generator/layout.html'%}

{% block content %}
    <h1>Bienvenido</h1>
    <form action="{% url 'password' %}" method="get">
        <h1>Generador de password</h1>
        <label for="length">Selecciona la longitud de tu contraseña</label>
        <select name="length" id="length">
            <option value="6">6 Caracteres</option>
            <option value="7">7 Caracteres</option>
            <option value="8">8 Caracteres</option>
            <option value="9">9 Caracteres</option>
            <option value="10">10 Caracteres</option>
            <option value="11">11 Caracteres</option>
            <option value="12">12 Caracteres</option>
            <option value="13">13 Caracteres</option>
            <option value="14">14 Caracteres</option>
        </select>
        <label for="uppercase">Mayusculas</label>
        <input type="checkbox" name="uppercase" id"uppercase">

        <label for="special">Especial</label>
        <input type="checkbox" name="special" id"special">

        <label for="numeros">Numeros</label>
        <input type="checkbox" name="numeros" id"numeros">

        <button type="submit">Generar contraseña</button>
    </form>
{% endblock%}